.jet-progressbar-content {
	overflow: hidden;
	border: 1px solid #333;
	background: url(http://yui.yahooapis.com/2.8.1/build/progressbar/assets/skins/sam/back-h.png) repeat-x;
}

.jet-progressbar-ltr .jet-progressbar-content {
	height: 100%;
}

.jet-progressbar-bar {
	display: inline-block;
	background: url(http://yui.yahooapis.com/2.8.1/build/progressbar/assets/skins/sam/bar-h.png) repeat-x;
}


#jet-tracker {
	cursor: pointer;
}
