
.jet-menubar-content, .jet-menuitem-container, .jet-simplemenu {
	padding: 0;
	margin: 0;
}
.jet-menuitem {
	list-style: none;
}

.jet-menubar .jet-menuitem {
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.jet-menubar .jet-menuitem-content, .jet-menubar .jet-menuitem-label {
	display: inline-block;
}
.jet-menuitem-label {
	padding: 0 10px;
	line-height: 24px;
}

.jet-menuitem-container {
	position: absolute;
}

.jet-menuitem-container-hidden {
	display: none;
}

#jet-tracker {
	font-weight: bold;
}
